*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    max-width: 75%;
    margin: auto;
    top: 1rem;
    left: calc(25% / 2);
    height: calc(100vh - 2rem);
    background-color: white;
    padding: 0;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

header{
    height: 3.5rem;
    background-color: rgba(234,234,234,255);
}

main{
    height: calc(100% - 3.5rem);
}

.col-65-header{
    width: 65%;
    border-left: 0.5px solid rgba(128, 128, 128, 0.251);
}

.col-65-main{
    width: 65%;
    background-image: url(../img/mine.jpg);
}

.avatar{
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2px solid rgba(128, 128, 128, 0.182);
    cursor: pointer;
}

i{
    cursor: pointer;
    color: #9d9b9b;;
}

.myMessage, .otherMessage{
    border-radius: 10px;
    display: flex;
    max-width: 50%;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.myMessage{
    background-color: rgba(213,249,186,255);
    align-self: flex-end;
}

.otherMessage{
    background-color: white;
}

.cursor-pointer{
    cursor: pointer;
}

.activeChat{
    background-color: rgba(233,235,235,255);
}