<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>boolzapp</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./asset/css/style.css">
  </head>
  <body>
    <div id="app">
      <div class="position-relative" style="background-color: rgba(0,150,136,255); height: 6.5rem;">
        
        <div class="container">
          <header class="d-flex">

            <div class="col px-2 d-flex align-items-center justify-content-between">
              <div>
                <img src="./asset/img/avatar_io.jpg" class="avatar me-1">
                <span>Io</span>
              </div>
              <div class="fs-4">
                <i class="fa-solid fa-circle-notch fa-sm me-3"></i>
                <i class="fa-solid fa-comment me-3"></i>
                <i class="fa-solid fa-ellipsis-vertical me-3"></i>
              </div>
            </div>

            <div class="col-65-header px-2 d-flex align-items-center justify-content-between">
              <div class="d-flex">
                <img :src="contacts[activeChat].avatar" class="avatar me-1">
                <div class="d-flex flex-column">
                  <span>{{contacts[activeChat].name}}</span>
                  <span style="font-size: 10px; color: gray;">Ultimo accesso: oggi alle 12:00</span>
                </div>
              </div>

              <div class="fs-4">
                <i class="fa-solid fa-magnifying-glass me-3"></i>
                <i class="fa-solid fa-paperclip me-3"></i>
                <i class="fa-solid fa-ellipsis-vertical me-3"></i>
              </div>
            </div>
          </header>

          <main class="d-flex">
            <div class="col d-flex flex-column cursor-pointer">

              
              <div style="background-color: rgba(142,218,252,255);" class="d-flex p-2 align-items-center">
                <i style="color: rgba(142,218,252,255); border-radius: 50%; object-fit: cover; padding: 13px 11px" class="fa-solid fa-bell-slash bg-white"></i>
                <div class="d-flex flex-column ms-2">
                  <span style="font-size: 13px;">Ricevi notifiche di nuovi messaggi</span>
                  <span style="font-size: 10px; color: gray;"><u>Attiva notifiche desktop</u></span>
                </div>
              </div>

              <div style="color: gray;" class="p-2 d-flex align-items-center">
                <div class="input-group input-group-sm">
                  <span class="input-group-text" id="inputGroup-sizing-sm">
                    <i style="color: rgba(128, 128, 128, 0.458);" class="fa-solid fa-magnifying-glass"></i>
                  </span>
                  <input style="font-size: small;" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Cerca o inizia una nuova chat" v-model="searchedName" @keyup="nameSearch()">
                </div>
              </div>
              

              <div class="overflow-auto">
                <div @click="chosenChat(index)" :class="index === activeChat ? 'activeChat' : '' " v-for="(contact, index) in contacts">
                  <div v-if="contact.visible || searchedName == '' " class="p-2">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex col-10 pe-2">
                        <img :src="contact.avatar" class="avatar me-1">
                        <div class="d-flex flex-column">
                          <span>{{contact.name}}</span>
                          <span style="font-size: 10px; color: gray; max-height: 15px; overflow: auto;">
                            
                            <span v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length - 1].message}}</span>

                            <span v-else>no messages</span>

                          </span>
                        </div>
                      </div>
                      <span style="font-size: x-small; color: grey;" class="col text-center" v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length - 1].date}}</span>
                      <span style="font-size: x-small; color: grey;" class="col text-center" v-else>...</span>


                    </div>
                  </div>
                </div>
              </div>
              
            </div>


            <div class="col-65-main d-flex flex-column">
              <div style="height: calc(100% - 3.5rem)" class="px-5 pt-5 overflow-auto">

                <div v-for="(chat, index) in contacts[activeChat].messages">
                  <div v-if="contacts[activeChat].messages[index].message != '' " class="d-flex flex-column">
                    <div :class="chat.status == 'sent' ? 'myMessage' : 'otherMessage'">
                      <span style="width: 90%; align-self: center; margin: 0.6rem;">{{chat.message}}</span>
                      <span style="font-size: 8px; color: gray;" class="col me-1 mb-1 text-center d-flex flex-column justify-content-end">
                    
                    <div class="dropdown">
                      <button style="color: gray;" class="btn dropdown-toggle p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      </button>
                      <ul class="dropdown-menu">
                        <li @click="deleteMessage(index)"><a class="dropdown-item" href="#">delete message</a></li>

                        <li><a class="dropdown-item" href="#">info message</a></li>
                      </ul>
                    </div>

                    <span>{{chat.date}}</span>
                      </span>
                    </div>
                  </div>
                  
                </div>

              </div>

              <div style="height: 3.5rem; background-color: rgba(243,238,234,255);" class="d-flex justify-content-between align-items-center">
                <i class="fa-regular fa-face-smile fs-5 mx-4"></i>

                <input style="font-size: 12px; padding: 12px 6px;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendNewMessage()">

                <i class="fa-solid fa-paper-plane fs-5 mx-4" @click='sendNewMessage()' v-if="newMessage != '' "></i>
                <i class="fa-solid fa-microphone fs-5 mx-4" v-if="newMessage == '' "></i>
              </div>
            </div>
          </main>
        </div>
        
      </div>



      <div style="background-color: rgba(216,219,213,255); height: calc(100vh - 6.5rem);"></div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="./asset/js/main.js"></script>
  </body>
</html>